/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
    display: none;
}

footer.css-ipbk5a.egzxvld4 {
    display: none;
}

footer.css-12gp8ed.eknhn3m4 {
    display: none;
}

div.vg-tooltip-element {
    display: none;
}

.css-wjbhl0 > li:nth-child(1) > div:nth-child(1) {
    display: none;
}